html,body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	border:0;
}
body{
	background-color:#ABF;
	overflow:hidden;
}

input[type='file']{
	border:1px solid black;
	height:100px;
	
}

.file_upload{
	width:100%;
	height:20px;
	border:1px solid black;
	background-color:#AAA;
}
.file_upload iframe{
	width:100%;
	height:100%;
	
	/*border:4px solid red;*/
}

.icon{
	/*position:absolute;*/
	cursor:pointer;
	/*left:16px;*/
	text-align:center;
	/*border:1px solid blue;*/
	display:block;
	float:left;
	margin:16px;
}
/*各種データ受け渡し用*/
.property{
	display:none;
}
.icon img{
	width:48px;
	height:48px;
	margin:0;
	padding:0;
	display:block;
	/*border:1px solid red;*/
}
.icon .dir_name{
	font-size:10px;
	line-height:10px;
	width:48px;
	margin:0;
	padding:0;
	/*border:1px solid red;*/
}
.icon:hover{
	opacity:0.6;
}

.drag{
	cursor:move;
	-webkit-user-select:none;
	-khtml-user-select: none;
	-moz-user-select: none;
}

/*エクスプローラ*/
.window{
	position:absolute;
	/*初期座標*/
	top:50px;
	left:100px;
	/*デフォルトサイズ*/
	width:400px;
	height:300px;
	/*最小サイズ*/
	min-width:100px;
	min-height:100px;
	
	border:1px solid black;
	background-color:white;
	box-shadow:8px 8px 8px rgba(0,0,0,0.5);
	border-radius:4px;
	overflow:hidden;
	padding:0;
	margin:0;
	
	-webkit-user-select:none;
	-khtml-user-select: none;
	-moz-user-select: none;
}
/*ウィンドウ・ヘッダタイトル*/
.window .title{
	position:relative;
	background-color:black;
	color:white;
	padding:2px;
	margin:0;
	text-align:left;
	font-size:12px;
	height:20px;
	line-height:20px;
	overflow:hidden;
}
/*ウィンドウ・ヘッダタイト:マウスオーバール*/
.window .title:hover{
	background-color:#024;
}
/*閉じるボタン*/
.window .close{
	width:16px;
	height:16px;
	border:1px solid #DDD;
	color:#DDD;
	font-size:12px;
	line-height:16px;
	text-align:center;
	position:absolute;
	top:3px;
	right:8px;
	font-family:arial;
	cursor:pointer;
	background-color:black;
	/*border-radius:4px;*/
}
/*閉じるボタン：マウスオーバー*/
.window .close:hover{
	background-color:white;
	color:black;
}
.window .reload{
	background-image:url(img/reload.png);
	width:16px;
	height:16px;
	border:1px solid #DDD;
	line-height:16px;
	text-align:center;
	position:absolute;
	top:3px;
	right:28px;
	cursor:pointer;
	background-color:black;
}
/*閉じるボタン：マウスオーバー*/
.window .reload:hover{
	background-color:white;
	color:black;
}
.window .save{
	background-image:url(img/save.png);
	width:16px;
	height:16px;
	border:1px solid #DDD;
	line-height:16px;
	text-align:center;
	position:absolute;
	top:3px;
	right:28px;
	cursor:pointer;
	background-color:black;
}
/*閉じるボタン：マウスオーバー*/
.window .save:hover{
	background-color:white;
	color:black;
}

/*ファイルアップローダー*/
.window .file_upload{
	/*display:block;*/
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	position:absolute;
	top:0;
	left:0;
	
	display:none;
	/*visibility:hidden;*/
	/*border:4px solid red;*/
	
	overflow:hidden;
	background-color:transparent;
	opacity:0;
}
/*ファイルアップローダー:iframe*/
/*
.window .file_upload iframe{
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
}
*/
/*ファイルサイズ表示*/
.window .size{
	font-size:8px;
	color:#228;
}
/*ウィンドウ・コンテンツ表示*/
.window .contents,#file_move{
	position:relative;
	border:0;
	padding:0;
	margin:0;
	text-align:left;
	font-size:12px;
	overflow-y:auto;
	overflow-x:hidden;
}
.window .contents ul,#file_move{
	/*width:100%;*/
	margin:0;
	padding:0;
	/*border:1px solid red;*/
	white-space:nowrap;
	overflow:visible;
}
.window .contents li,#file_move{
	/*width:100%;*/
	height:30px;
	line-height:30px;
	padding-left:28px;
	list-style-type:none;
	background-repeat:no-repeat;
	background-position:4px;
	cursor:pointer;
	/*overflow:hidden;*/
	margin:0;
	border-top:1px solid transparent;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	border-bottom:1px solid #DDD;
	/*height:20px;*/
	white-space:nowrap;
}
/*
.window .contents li.on{
	background-color:#FED;
}
*/
/*
.window .contents li:hover{
	border:1px solid #88F;
	
}
*/
/*テキストエディタ*/
.window .contents textarea{
	min-width:100%;
	min-height:100%;
	margin:0;
	padding:0;
	border:0;
	font-size:12px;
	line-height:14px;
	resize:none;
	white-space:nowrap;
	font-family:arial;
}
/*画像表示*/
.window .contents img{
	max-width:100%;
	/*max-height:100%;
	margin:0;
	padding:0;
	border:0;*/
}


.window .contents .file,#file_move.file{
	background-image:url(img/file.png);
}
.window .contents .folder,#file_move.folder{
	background-image:url(img/folder.png);
}
.window .contents .link,#file_move.link{
	background-image:url(img/link.png);
}


.window .contents .file_name{
	width:100%;
	border:0;
	margin:0;
	padding:0;
	background-color:#FFB;
	font-size:12px;
	line-height:16px;
}
.window .resize{
	width:16px;
	height:16px;
	border:0;
	color:black;
	font-size:12px;
	line-height:16px;
	text-align:center;
	position:absolute;
	padding:0;
	margin:0;
	bottom:0;
	right:0;
	font-family:arial;
	cursor:se-resize;
	/*border:4px solid red;*/
}

/*右クリックメニュー*/
#context_menu{
	position:absolute;
	/*border:1px solid red;*/
	background-color:white;
	/*width:200px;*/
	box-shadow:4px 4px 20px rgba(0,0,0,0.5);
	border-radius:8px;
	/*height:250px;*/
}
#context_menu ul{
	margin:8px 2px;
	padding:0;
	/*border-top:1px solid #DDD;*/
}
#context_menu li{
	list-style-type:none;
	margin:0;
	padding:2px 20px 2px 28px;
	cursor:pointer;
	font-size:12px;
	line-height:24px;
	height:24px;
	background-repeat:no-repeat;
	background-position:4px;
	/*border-bottom:1px solid #DDD;*/
}
#context_menu li.file_open{
	background-image:url(img/file_open.png);
}
#context_menu li.make_folder{
	background-image:url(img/make_folder.png);
}
#context_menu li.data_delete{
	background-image:url(img/data_delete.png);
}
#context_menu li.rename{
	background-image:url(img/rename.png);
}
#context_menu li.download{
	background-image:url(img/download.png);
}
#context_menu li.trash{
	background-image:url(img/trash.png);
}
#context_menu li.trash_empty{
	background-image:url(img/trash_empty.png);
}
#context_menu li.text_edit{
	background-image:url(img/text_edit.png);
}

#context_menu li:hover{
	background-color:#DEF;
}

#file_move{
	position:absolute;
    border:1px solid red;
    opacity:0.85;
    background-color:#FFD;
    z-index:1000;
    cursor:pointer;
    pointer-events:none;
}

